<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-AH4N4F1;Initial Catalog=AnugerahSPS;User ID=sa;Password=b35mart1c5?" />-->
    <add name="DefaultConnection" connectionString="Data Source=JUDE7;Initial Catalog=ASPS;Trusted_Connection=True" />
  </connectionStrings>
  <appSettings>
    <!--<add key="PrinterNotaJual" value="EPSON LX-310"/>-->
    <add key="PrinterNotaJual" value="EPSON TM-U220 Receipt"/>
    <add key="TemporerPrintFile" value="d:\$tempNotaJual.txt"/>
  </appSettings>
</configuration>